html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body
{
  background-image: url("background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.connection-form
{
    background-color: #124015;
    /* background-color: #b0e0e6; */
    color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 1);
}

.connection-form-element p
{
    display: flex;
    flex-direction: column;
}

.connection-form-element input
{
    padding: 7px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.connection-form-element label, .connection-form-element button
{
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 1.2rem;
}

.connection-form-element button
{
    padding: 10px 15px;

  font-size: 1rem;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: backgrounn-color 0.3s ease;
    display: block;
    margin: 20px auto 0 auto;
}

.connection-form-element button:hover
{
    background-color: gray;
}

