<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PGCA</title>
</head>
<body>
    <nav>
        <ul>
            <li>Home</li>
            <li>Shop</li>
            <li>Creat account</li>
            <li>Join association</li>
        </ul>
        <form>
            <input type="text" id="search-input" placeholder="Search">
        </form>
    </nav>
    <header>
        
    </header>
    <h1>Plateforme de Gestion de Coopérative Agricole</h1>
    <footer>
        Pied de la page.
    </footer>
</body>
</html>